
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



    <div class="register-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3>Registration</h3>
                    <small>Please register to use your wonderful service</small>
                </div>
                <div class="hpanel">
                    <div class="panel-body col-md-offset-2 col-md-8">
                        <form action="#" id="loginForm">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label>Username</label>
                                    <input type="text" value="" id="" class="form-control" name="">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label>Password</label>
                                    <input type="password" value="" id="" class="form-control" name="">
                                </div>
                                
                                <div class="form-group col-lg-12">
                                    <label>Email Address</label>
                                    <input type="email" value="" id="" class="form-control" name="">
                                </div>
                               
                                
                            </div>
                            <div class="text-center">
                                <button class="btn btn-success">Register</button>
                                <button class="btn btn-default">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>PVT</strong> - Money WebApp <br /> 2018 Copyright &copy;
            </div>
        </div>
    </div>

    

