@{
    ViewData["Title"] = "Welcome to user manager!";
}
<h2>@ViewData["Title"]</h2>
<hr/>
<p>List of users: </p>
@model IEnumerable<PVT.Money.Business.User>

@foreach (PVT.Money.Business.User b in Model)
{
     <p>@b.Login</p>
}
    
